// 
// Import
// ________________________________
@import './common/variables';
@import './common/mixins';

@import './common/reset';
@import './common/normalize';
@import './slick/slick.scss';

@import './common/typography';


//
// Test
// __________________________
.opensans-text {
    font-family: $font-family__opensans;
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;
}

.montserrat-text {
    font-family: $font-family__montserrat;
    font-size: 15px;
    font-weight: 700;
    padding-left: 50px;
}

.pacifico-text {
    font-family: $font-family__pacifico;
    font-size: 30px;
    font-weight: 400;
    padding-left: 50px;
}



//
// Styles
// _______________________
html {
    //font-size: 62.5%;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    padding: 0;
    margin: auto;
}

.wrapper {
    //border: 1px solid black;
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #dddddd;
    &__top {
        padding: 16px 30px 14px 29px;
        @include flex(center, space-between);
        font-family: $font-family__opensans;
        font-size: 14px;
        background-color: #222222;
        a {
            color: #525252;
        }
        &-welcome {
            word-spacing: 1px;
            i {
                margin-right: 2px;
                font-size: 13px;
            }
            span {
                margin-left: 4px;
            }
        }
        &-list {
            @include flex(center, space-between);
        }
        &-item{
            padding-right: 31px;
            i {
                font-size: 12px;
                margin-right: 1px;
            }
            &:last-child {
                padding-right: 1px;
            }
            &:first-child {
                i {
                    margin-right: 4px;
                }
            }
            
        }
    }
    &__bot {
        a {
            color: #000000;
            &:hover {
                color: #8262b5;
            }
        }
        padding: 20px 0px 19px 30px ;
        display: flex;
        align-items: center;
        &-menu {
            padding-right: 431px;
        }
        &-list {
            @include flex(center, space-between);
            line-height: 100%;
            
        }
        &-action {
            &-list {
                @include flex(center, space-between);
            }
            &-item {
                padding-right: 30px;
                &:last-child {
                    padding-right: 0;
                }
            }
            &-link {
                i {
                    font-size: 25px;
                } 
            }
        }
        .logo {
            margin-right: 312px;
            padding: 8px 11px 8px 11px;
            border: 3px solid black;
            &_text {
                font-family: $font-family__montserrat;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 4.5px;
                
                padding-left: 5px;
            }
            &:hover {
                color: #000000;
            }
        }
        &-link {
            font-family: $font-family__montserrat;
            font-weight: 700;
            font-size: 14px; 
            
        }
        &-item {
            padding-right: 55px;
            &:first-child {
                padding-right: 54px;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        // &-item:first-child {
        //     padding-right: 54px;
        // }
        
    }
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner {
    padding-top: 30px;
    margin: 0 auto;
    .buy-button {
            font-family: $font-family__montserrat;
            font-size: 14px;
            font-weight: 500;
            padding: 12.7px 16.5px;
            background-color: #8262b5;
            color: #ffffff;
    }
    &__item {
        &-0 {
            
            width: 750px;
            height: 560px;
            background-image: url('../images/kinh-mat.png');

            .detail {
                .desc {
                    font-family: $font-family__pacifico;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: right;
                    width: 100%;
                    padding-bottom: 17px;
                }
                .buy-button {
                    margin-left: auto;
                    margin-right: 0;
                }
                padding-top: 321px;
                padding-right: 94px;
                display: flex;
                align-items: end;
                flex-wrap: wrap;
            }
        }
        &-1 {
            width: 360px;
            height: 200px;
            background-image: url('../images/vong-tay.png ');
            .detail-1, .detail-2 {
                text-transform: uppercase;
            }
            .detail {
                padding-top: 84px;
                padding-left: 56px;
                &-1 {
                    font-family: $font-family__montserrat;
                    font-weight: 500;
                    font-size: 19px;
                    letter-spacing: 1px;
                    word-spacing: 2px;
                    padding-bottom: 4px;
                    color: #616161;
                }
                &-2 {
                    font-family: $font-family__montserrat;
                    font-weight: 700;
                    font-size: 20px;
                    color: #000000;
                }
            }
        }
        &-2 {
            margin-top: 30px;
            width: 360px;
            height: 330px;
            background-image: url('../images/balo.png');
            .detail-1, .detail-2 {
                text-transform: uppercase;
            }
            .detail {
                padding-top: 119px;
                padding-left: 39px;
                &-1 {
                    font-family: $font-family__montserrat;
                    font-weight: 500;
                    font-size: 19px;
                    letter-spacing: 1px;
                    word-spacing: 2px;
                    padding-bottom: 4px;
                    color: #616161;
                }
                &-2 {
                    font-family: $font-family__montserrat;
                    font-weight: 700;
                    font-size: 20px;
                    color: #000000;
                    padding-bottom: 30px;
                }
            }
            .buy-button {
                margin-left: 3px;
                padding: 12.7px 15.5px 11px 20px;
            }
        }
    }
    .container {
        display: flex;
    }
    &__left {
        padding-right: 30px;
    } 
}

.feature {
    padding-top: 80px;
    &__title {
        margin-bottom: 23.292px;
        p, span {
            text-transform: uppercase;
        }
        p {
            font-family: $font-family__montserrat;
            font-weight: 700;
            font-size: 12px;
            color: #8262b5;
            letter-spacing: 6px;
            padding-bottom: 15px;
        }
        span {
            font-family: $font-family__montserrat;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 2px;
            padding-bottom: 23.292px;
            border-bottom: 1px solid #8262b5;
            &:last-child {
                word-spacing: 3px;
                border: 0;
            }
        }  
    }
    &__product {  
        .product {
            &-title {
                padding-top: 20px;
                font-family: $font-family__montserrat;
                font-weight:500;
                font-size: 14px;
            }
            &-rate {
                padding-top: 8px;
                padding-bottom: 11px;
                i {
                    font-size: 9.5px;
                    color: #f8bf15;
                    letter-spacing: -0.8px;
                }
            }
            &-price {
                margin-left: -1.5px;
                font-family: $font-family__opensans;
                font-weight: 400;
                color: #a5a5a5;
                font-size: 16px;
            }
            &-sale-price {
                font-family: $font-family__opensans;
                font-weight: 700;
                color: #8262b5;
                font-size: 16px;
            }
        }
        
        .add-to-cart-button {
            text-transform: uppercase;
            font-family: $font-family__montserrat;
            font-weight: 500;
            font-size: 12px;
            padding: 16px 18px 12px 16px;
            //margin: 16px 16px;
            color: black;
            background-color: white;
            &:hover {
                color: #8262b5;
            }
        }
        &-item {
            width: -moz-fit-content;
            width: fit-content; 
            position: relative;
            // .item-1 {
            //     background-image: url('../images/dong-ho.png');
            //     width: 262px;
            //     height: 323px;
            // }
            .add-to-cart-button {
                position: absolute;
                left: 6px;
                top: 278px;
            }
        }
        &-row {
            &-1, &-2  {
                padding-top: 52px;
                @include flex(center, space-between);
                .item {
                    &-1, &-2, &-3, &-4 {
                        width: 262px;
                        height: 323px;
                    }
                }
            }
            &-1 {
                .item {
                    &-1 {
                        background-image: url('../images/dong-ho.png');
                    }
                    &-2 {
                        background-image: url('../images/tui-deo-vai.png');
                    }
                    &-3 {
                        background-image: url('../images/balo-da.png');
                    }
                    &-4 {
                        background-image: url('../images/ao-khoac-dai.png');
                    }
                }
            }
            &-2 {
                padding-top: 48px;
                .item {
                    &-1 {
                        background-image: url('../images/tui-du-lich.png');
                    }
                    &-2 {
                        background-image: url('../images/dep-le.png');
                    }
                    &-3 {
                        background-image: url('../images/tui-sach-tay.png');
                    }
                    &-4 {
                        background-image: url('../images/balo-da-nu.png');
                    }
                }
            }
        }
    }
}

.blog {
    background-image: url('../images/blog-background.png');
    height: 708px;
    margin-top: 78px;
    &__top {
        text-align: center;
        text-transform: uppercase;
        &-desc {
            font-family: $font-family__opensans;
            font-weight: 500;
            font-size: 13px;
            color: #8262b5;
            letter-spacing: 6px;
            padding-left: 7px;
            padding-top: 75px;
        }
        &-title {
            font-family: $font-family__montserrat;
            font-weight: 700;
            font-size: 24px;
            color: black;
            padding-top: 15px;
            letter-spacing: 2px;
            word-spacing: 2.1px;
            padding-left: 3px;
            padding-bottom: 18px;
        }
        &-line {
            height:1px;
            border-width:0;
            background-color:#8262b5;
            width: 50px;
        }
    }
    &__bottom {
        padding-top: 22px;
        @include flex(center, center);
        &-line {
            //height:1px;
            // border-width:0;
            // background-color:#8262b5;
            // width: 50px;
        }
        .blog-item {
            position: relative;
            .blog-detail, .blog-info {
                max-width: 360px;
                background-color: white;
            }
            .date {
                color:red;
                position: absolute;
                top: 8px;
                left: 16px;
            } 
            .blog-detail {
                padding: 19px 20px 9px 20px;
                .blog {
                    &-title {
                        font-family: $font-family__montserrat;
                        font-weight: 400;
                        font-size: 16px;
                        &:hover {
                            font-weight: 700;
                            color: #8262b5;
                            transition: all 100ms linear ;
                        }
                    }
                    &-desc {
                        padding-top: 20px;
                        font-family: $font-family__opensans;
                        font-weight: 400;
                        font-size: 14px;
                        letter-spacing: 0.1px;
                        word-spacing: 1px;
                        line-height: 21.2px;
                    }
                }
            }
            .blog-info {
                padding-top: 9px;
                padding-left: 22px;
                span {
                    font-family: $font-family__opensans;
                    font-weight: 400;
                    font-size: 14px;
                }
                i {
                    font-size: 14px;
                }
                .comment {
                    padding-left: 2px;
                    margin-right: 28px;
                }
                .reaction {
                    padding-left: 5px;
                }
            }
        }
        .blog-slider {
            width: 1170px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 20px;
            padding-bottom: 60px;
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex !important;
            align-items: center;
            justify-content: center;
            gap: 0 20px;
        }
        .slick-initialized .slick-slide {
            /* background-color: yellowgreen; */
            margin: 0 15px;
            background-color: white;
        }

        .slick-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex !important;
            align-items: center;
            justify-content: center;
            gap: 0 15px;
        }
        
        .slick-dots button {
            padding: 0;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 100rem;
            background-color: #b3a6c7;
            border: 0;
            outline: none;
        }
        
        .slick-dots .slick-active button {
            background-color: #8262b5;
            scale: 1.4;
        }

    }
}